<header class="navigation" role="banner">
    <div class="top-nav">
        <div class="inner">

            <div class="logo"></div>

            <div class="menu-button">
                <div class="lines-closed"><i></i><i></i><i></i></div>
                <div class="lines-open"><i></i><i></i></div>
            </div>

            <ul class="topmenu">
                <li><a href="http://www.adcorp.co.za/" target="_blank" class="rounded">Visit Adcorp</a></li>
                <li><a href="#contact" class="rounded">Contact Us</a></li>
            </ul>
            
            <div class="mainmenu">
                <div class="inner">
                    <div class="logo"></div>
                    <ul>
                        <li><a class="hvr-underline-from-center" href="#contact">Get in Touch</a></li>
                        <li><a class="hvr-underline-from-center" href="#industries">Our Industries</a></li>
                        <li><a class="hvr-underline-from-center" href="#footprint">BLU Footprint</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
</header>

<!-- <div class="section forms">
    {{ page.contact_form_1 }}
    {{ page.contact_form_2 }}
    {{ page.contact_form_3 }}
</div> -->

<div id="fullpage" class="home">
    
    <!-- HERO -->
    <div class="section hero" id="home">
        <!-- BACKGROUND IMAGE -->
        <div class="bg"></div>

        <!-- CONTENT -->
        <div class="inner">
            <h1>The road to <br />entrusted workforces and <br />workplaces starts here<i class="dot blue spaced"></i></h1>
        </div>

        <!-- ARROW BOTTOM -->
        <a href="#workforce" class="arrow-bottom-white"></a>
    </div>

    <!-- WORKFORCE -->
    <div class="section workforce prime-color1-background">

        <!-- CONTENT -->
        <div class="inner">
            <h5 class="light aligncenter">Every day we take a step closer</h5>
            <h1>
                on our journey to creating <br /> 
                workforce solutions that are <br />
                better, faster, and smarter
            </h1>
            <div class="line down black">
                <div class="theline"></div>
            </div>
            <h2 class="light aligncenter">
                for businesses across major sectors, <br />
                and the people behind them.
            </h2>
        </div>

        <!-- ARROW BOTTOM -->
        <a href="#journey" class="arrow-bottom-white"></a>
    </div>

    <!-- JOURNEY -->
    <div class="section journey">

        <!-- BACKGROUND IMAGE -->
        <div class="bg"></div>

        <!-- CONTENT -->
        <div class="inner">
            <h1>
                the blu journey<i class="dot blue"></i>
            </h1>
            <h5 class="light">
                BLU is the result of an inspired <br />
                merger between two human <br />
                capital heavyweights, Capacity <br />
                and Capital.
            </h5>
            <h2 class="medium blue alignright">
                When you're geared <br />
                towards the future, <br />
                some things just make <br />
                more sense together.
            </h2>
        </div>

        <!-- ARROW BOTTOM -->
        <a href="#technology" class="arrow-bottom-blue"></a>            
    </div>

    <!-- TECHNOLOGY -->
    <div class="section technology">

        <!-- BACKGROUND IMAGE -->
        <div class="bg"></div>

        <!-- LEFT SIDE MARKER -->
        <div class="markdevice">
            <div class="item white">Journey</div>
            <div class="item white"></div>
            <div class="item white"></div>
        </div>

        <!-- CONTENT -->
        <div class="inner">
            <h1>
                a journey driven by <br />
                meaningful technology<i class="dot blue"></i>
            </h1>
            <h6 class="aligncenter light">
                Meaningful technologies help us co-create and co-design like never before, <br />
                giving us the power to create smarter outcomes, connect smart people with smart<br /> 
                companies and build environments where man and machine work better together.
                <br /><br />

                Through digitisation, we are able to provide insights into the flexible
                <br />
                workforces of our clients.                 
            </h6>
        </div>

        <!-- ARROW BOTTOM -->
        <a href="#glance" class="arrow-bottom-blue"></a>                 
    </div>

    <!-- GLANCE -->
    <div class="section glance">

        <!-- LEFT SIDE MARKER -->
        <div class="markdevice">
            <div class="item white">Journey</div>
            <div class="item white"></div>
            <div class="item white"></div>
        </div>        

        <!-- BACKGROUND IMAGE & HEADING -->
        <div class="half">
            <div class="bg"></div>
            <h1>
                blu at a <br />glance<i class="dot spaced blue"></i>
            </h1>
        </div>

        <!-- CONTENT -->
        <div class="half achievements">
            <div class="line"><div class="theline"></div></div>
            <div class="item">
                <div class="text">
                    <p><span>30+ </span>years experience</p>
                </div>
                <div class="icon">
                    <figure><img src="{{ base_path ~ directory }}/images/icons/star.svg" data-fallback="{{ base_path ~ directory }}/images/icons/star@2x.png" alt=""></figure>
                </div>
            </div>
            <div class="item">
                <div class="text">
                    <p><span>60,000+ </span>employees</p>
                </div>
                <div class="icon">
                    <figure><img src="{{ base_path ~ directory }}/images/icons/employee.svg" data-fallback="{{ base_path ~ directory }}/images/icons/employee@2x.png" alt=""></figure>
                </div>
            </div>
            <div class="item">
                <div class="text">
                    <p><span>14,5 million </span>hours processed per month</p>
                </div>
                <div class="icon">
                    <figure><img src="{{ base_path ~ directory }}/images/icons/clock.svg" data-fallback="{{ base_path ~ directory }}/images/icons/clock@2x.png" alt=""></figure>
                </div>
            </div>
            <div class="item">
                <div class="text">
                    <p><span>Global </span>footprint</p>
                </div>
                <div class="icon">
                    <figure><img src="{{ base_path ~ directory }}/images/icons/location.svg" data-fallback="{{ base_path ~ directory }}/images/icons/location@2x.png" alt=""></figure>
                </div>
            </div>
            <div class="item">
                <div class="text large">
                    <p><span class="white uppercase">Transformed</span><br /><span class="small">BBBEE Level 1 - (South Africa)</span></p>
                </div>
                <div class="icon">
                    <figure><img src="{{ base_path ~ directory }}/images/icons/time.svg" data-fallback="{{ base_path ~ directory }}/images/icons/time@2x.png" alt=""></figure>
                </div>
            </div>
        </div>
    </div>

    <!-- INDUSTRIES -->
    <div class="section industries prime-color1-background" id="navwhite">

        <!-- LEFT SIDE MARKER -->
        <div class="markdevice">
            <div class="item white"></div>
            <div class="item white">Solutions</div>
            <div class="item white"></div>
        </div>  

        <!-- CONTENT -->
        <div class="inner">
            <h1>
                industries<i class="dot spaced black"></i>
            </h1>
            <h4 class="white aligncenter">BLU delivers across major sectors</h4>
            <div class="slider-industries">
                <div>
                    <div class="icon">
                        <figure><img src="{{ base_path ~ directory }}/images/sliders/industries/agriculture.svg" data-fallback="{{ base_path ~ directory }}/images/sliders/industries/agriculture@2x.png" alt=""></figure>
                    </div>
                </div>
                <div>
                    <div class="icon">
                        <figure><img src="{{ base_path ~ directory }}/images/sliders/industries/automotive.svg" data-fallback="{{ base_path ~ directory }}/images/sliders/industries/automotive@2x.png" alt=""></figure>
                    </div>
                </div>
                <div>
                    <div class="icon">
                        <figure><img src="{{ base_path ~ directory }}/images/sliders/industries/chemicals.svg" data-fallback="{{ base_path ~ directory }}/images/sliders/industries/chemicals@2x.png" alt=""></figure>
                    </div>
                </div>
                <div>
                    <div class="icon">
                        <figure><img src="{{ base_path ~ directory }}/images/sliders/industries/construction.svg" data-fallback="{{ base_path ~ directory }}/images/sliders/industries/construction@2x.png" alt=""></figure>
                    </div>
                </div>
                <div>
                    <div class="icon">
                        <figure><img src="{{ base_path ~ directory }}/images/sliders/industries/fastmoving.svg" data-fallback="{{ base_path ~ directory }}/images/sliders/industries/fastmoving@2x.png" alt=""></figure>
                    </div>
                </div>
                <div>
                    <div class="icon">
                        <figure><img src="{{ base_path ~ directory }}/images/sliders/industries/food.svg" data-fallback="{{ base_path ~ directory }}/images/sliders/industries/food@2x.png" alt=""></figure>
                    </div>
                </div>
                <div>
                    <div class="icon">
                        <figure><img src="{{ base_path ~ directory }}/images/sliders/industries/hospitality.svg" data-fallback="{{ base_path ~ directory }}/images/sliders/industries/hospitality@2x.png" alt=""></figure>
                    </div>
                </div>
                <div>
                    <div class="icon">
                        <figure><img src="{{ base_path ~ directory }}/images/sliders/industries/information.svg" data-fallback="{{ base_path ~ directory }}/images/sliders/industries/information@2x.png" alt=""></figure>
                    </div>
                </div>
                <div>
                    <div class="icon">
                        <figure><img src="{{ base_path ~ directory }}/images/sliders/industries/logistics.svg" data-fallback="{{ base_path ~ directory }}/images/sliders/industries/logistics@2x.png" alt=""></figure>
                    </div>
                </div>
                <div>
                    <div class="icon top-padded-large">
                        <figure><img src="{{ base_path ~ directory }}/images/sliders/industries/manufacturing.svg" data-fallback="{{ base_path ~ directory }}/images/sliders/industries/manufacturing@2x.png" alt=""></figure>
                    </div>
                </div>
                <div>
                    <div class="icon top-padded-small">
                        <figure><img src="{{ base_path ~ directory }}/images/sliders/industries/mining.svg" data-fallback="{{ base_path ~ directory }}/images/sliders/industries/mining@2x.png" alt=""></figure>
                    </div>
                </div>
                <div>
                    <div class="icon">
                        <figure><img src="{{ base_path ~ directory }}/images/sliders/industries/oil.svg" data-fallback="{{ base_path ~ directory }}/images/sliders/industries/oil@2x.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BUSINESS -->
    <div class="section business">

        <!-- BACKGROUND IMAGE -->
        <div class="bg"></div>

        <!-- CONTENT -->
        <div class="inner">        
            <h1>
                Business<i class="dot spaced blue"></i><br />
                Made Better with BLU<i class="dot blue"></i>       
            </h1>
        </div>

        <!-- ARROW BOTTOM -->
        <a href="#cocreate" class="arrow-bottom-white"></a>             
    </div>

    <!-- COCREATE -->
    <div class="section cocreate prime-color1-background">
        
        <!-- LEFT SIDE MARKER -->        
        <div class="markdevice">
            <div class="item white"></div>
            <div class="item white">Solutions</div>
            <div class="item white"></div>
        </div>           
        
        <!-- CONTENT -->
        <div class="inner">            
            <h4 class="light">
                a journey driven<br /> 
                by meaningful<br />
                collaboration…
            </h4>
            <div class="splash">
                <div class="outer"></div>
                <div class="mid"></div>
                <div class="inner"></div>
                <div class="contentdots"></div>
            </div>
            <h1 class="black alignright">
                relationships<br /> build better<br /> outcomes
            </h1>
        </div>

        <!-- ARROW BOTTOM -->
        <a href="#footprint" class="arrow-bottom-white"></a>                  
    </div>

    <!-- FOOTPRINT -->
    <div class="section footprint" id="navblue">

        <!-- CONTENT -->
        <div class="inner">
            <h1 class="blue alignleft">Blue Footprint<i class="dot blue"></i></h1>
            <h3 class="blue aligncenter uppercase">South Africa</i></h3>
        </div>
        <div class="slider-footprint">
            <div>
                <figure>
                    <img src="{{ base_path ~ directory }}/images/sliders/footprint/jhb.jpg" alt="">
                </figure>
                <div class="overlay">
                 <!--    <h1>Johannesburg</h1>
                    <h4 class="aligncenter">Isando</h4> -->
                    <h6 class="aligncenter">Gauteng | Western Cape | Kwazulu Natal | Eastern Cape | Freestate | Limpopo | North West Province | Mpumalanga</h6>
                </div>
            </div>
            <div>
                <figure>
                    <img src="{{ base_path ~ directory }}/images/sliders/footprint/jhb.jpg" alt="">
                </figure>
                <div class="overlay">
                 <!--    <h1>Johannesburg</h1>
                    <h4 class="aligncenter">Isando</h4> -->
                    <h6 class="aligncenter">Gauteng | Western Cape | Kwazulu Natal | Eastern Cape | Freestate | Limpopo | North West Province | Mpumalanga</h6>
                </div>
            </div>
        </div>
        <div class="slider-footprint-navigation">
            <div class="inner">
                <!-- <div>Pretoria</div> -->
                <div>Johannesburg</div>
                <!-- <div>Bloemfontein</div> -->
            </div>
        </div>
    </div>

    <!-- SOLUTIONS -->
    <div class="section solutions">
        <!-- BACKGROUND IMAGE -->
        <div class="bg"></div>

        <!-- LEFT SIDE MARKER -->            
        <div class="markdevice">
            <div class="item blue"></div>
            <div class="item blue"></div>
            <div class="item blue">Higher Purpose</div>
        </div>           
        
        <!-- CONTENT -->
        <div class="inner">
            <h1>
                Solutions that turn the <br />
                economic wheel and create <br />
                opportunities for social <br />
                and economic growth<i class="dot blue"></i>
            </h1>
        </div>

        <!-- ARROW BOTTOM -->
        <a href="#connect" class="arrow-bottom-white"></a>                
    </div>

    <!-- CONNECT -->
    <div class="section connect">
        
        <!-- BACKGROUND IMAGE -->
        <div class="bg"></div>
        
        <!-- LEFT SIDE MARKER -->            
        <div class="markdevice">
            <div class="item blue"></div>
            <div class="item blue"></div>
            <div class="item blue">Higher Purpose</div>
        </div>        

        <!-- CONTENT -->
        <div class="inner">               
            <h1 class="blue alignleft">
                We connect over 60 000 <br />
                people with businesses <br />
                through services that <br />
                turn the economic wheel 
            </h1>
            <div class="line down blue">
                <div class="theline"></div>
            </div>
            <h4 class="alignright">
                and create <br />
                opportunities <br />
                for social and <br />
                economic <br />
                growth.
            </h5>
        </div>

        <!-- ARROW BOTTOM -->
        <a href="#contact" class="arrow-bottom-white"></a>                 
    </div>

    <!-- CONTACT -->
    <div class="section contact prime-color1-background" >

        <!-- CONTENT -->
        <div class="inner">     
            <h1>
                this is just the beginning<i class="dot spaced black"></i>
            </h1>
            <h5 class="black boldest uppercase aligncenter">The next step is yours.</h5>
            <p class="aligncenter">Get in touch and let's create something inspired together.</p>
            <div class="half">
                <div class="icon"></div>
                <h4 class="white boldest uppercase">Client Contact</h4>
                <h5 class="white">Head Office: +27 11 456 9600</h5>
                <div class="button">
                    <a href="" class="primary">Enquire</a>
                </div>
            </div>
            <div class="half">
                <div class="icon"></div>
                <h4 class="white boldest uppercase alignright">Candidate Sign Up</h4>
                <h5 class="white alignright">Click the button below to submit your CV</h5>
                <div class="button">
                    <a href="https://sspblu.adcorp.co.za/Person/Login" target="_blank" class="primary alignright">Submit</a>
                </div>
            </div>
        </div>

    </div>        
    <footer class="section contact-bottom fp-auto-height">
        <div class="inner">
            <h6 class="white uppercase alignleft">FIND US</h6>
            <div class="quarter social col-3">
                <div class="icon">
                    <figure class="hvr-float">
                        <a href="">
                            <img src="{{ base_path ~ directory }}/images/icons/jira.svg" data-fallback="{{ base_path ~ directory }}/images/icons/jira@2x.png" width="40px" height="40px" alt="">
                        </a>
                    </figure>
                </div>
                <div class="icon">
                    <figure class="hvr-float">
                        <a href="">
                            <img src="{{ base_path ~ directory }}/images/icons/facebook.svg" data-fallback="{{ base_path ~ directory }}/images/icons/facebook@2x.png" width="40px" height="40px" alt="">
                        </a>
                    </figure>
                </div>
                <div class="icon">
                    <figure class="hvr-float">
                        <a href="">
                            <img src="{{ base_path ~ directory }}/images/icons/linkedin.svg" data-fallback="{{ base_path ~ directory }}/images/icons/linkedin@2x.png" width="40px" height="40px" alt="">
                        </a>
                    </figure>
                </div>
            </div>
            <div class="half col-3">
                <div class="two-fifths">
                    <p class="bolder blue">Head Office Address</p>
                    <p class="white">
                        6 Pinelands Road,<br />
                        Modderfontein<br />
                        Johannesburg
                    </p>                    
                </div>
                <div class="three-fifths">
                    <div class="map">
                        <figure>
                            <img src="{{ base_path ~ directory }}/images/map.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="quarter links col-3">
                <ul>
                    <li>
                        <p class="bolder blue">Legal</p>
                    </li>
                    <li>
                        <a class="hvr-underline-from-left" href="">PAIA</a>
                    </li>
                    <li>
                        <a class="hvr-underline-from-left" href="">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a class="hvr-underline-from-left" href="">Site Disclaimer</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="full aligncenter">
            <p class="white">BLU 2017</p>
        </div>
    </footer>
</div>